#post-content h2, #post-content h3 {
    position: relative;
    padding-left: 1rem;
}

#post-content h2::after, #post-content h3::after {
    content: "";
    width: 0.2em;
    height: 80%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1em;
    background-color: rgba(0, 255, 255, 60%);
}

#post-content hr {
    all: unset;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--LineColor);
}

#post-content a {
    color: rgb(0, 200, 255);
    word-wrap: break-word;
}

#post-content img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#post-content .ImportantColor::after {
    background-color: rgba(255, 0, 0, 0.6);
}
