#Content {
    padding: 2rem 1.5rem;
    margin: 1rem 0;
}

#Content #post-content {
    display: flex;
    justify-content: space-around;
}

#Content .post {
    border: 1px solid var(--LineColor);
    padding: 2rem 1.5rem;
    max-width: 25%;
    margin: 2rem;
}

@media screen and (max-width: 800px) {
    #Content #post-content {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }
    #Content .post {
        max-width: unset;
        width: 100%;
    }
}