#NavigationBar {
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
}

#NavigationBar nav {
    display: flex;
}

#NavigationBar .Title {
    display: flex;
    align-items: end;
    font-size: 1.5em;
    margin: unset;
}

#NavigationBar .Title span {
    font-size: 0.5em;
}

@media screen and (max-width: 800px) {
    #NavigationBar {
        flex-direction: column;
        height: auto;
    }

    #NavigationBar nav {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #NavigationBar a {
        margin: 0.5rem;
    }
}