#Content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#Content #Main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#Content #Main .post {
    background-color: hsl(200, 100%, 20%);
    padding: 2rem 1.5rem;
}

#Content #Main .item {
    margin: 1rem 0;
}

#Content #Main #post-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
