#Main {
    display: flex;
    justify-content: space-between;
    width: calc(90% - 1.5rem);
    background-color: hsl(200, 20%, 20%);
    margin: 0 auto;
    padding: 1.5rem;
    margin-bottom: 1rem;
}
